body{
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    justify-content: space-around;
    display: flex;
    background-color: black;
    height: 114px;
  }
  #logo {
    opacity: 50;
  }
  .options {
    text-align: right;
    margin: 2rem 0rem;
    color: white;
  }
  
  .options > div {
    padding: 1rem;
    display: inline-block;
    font-size: 1.5rem;
  }
  
  .options > div > a {
    color: white;
    text-decoration: none;
  }
  
  .options > div > a:hover {
    color: var(--another);
  }

  /* About us */

  .aboutus{
      background-color: #EDECEC;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #abouthead{
      height: 50px;
      width: 196px;
      background-color: white;
      color: #7c7a7aaf;
      font-size: 25px;
      border-radius: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      margin-top: 30px;
      
  }
  #tagline{
      font-size: 35px;
      margin-bottom: 10px;
  }
  #msg{
      margin: 40px;
  }

  /* Interactive Alley */

  .alleybox{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 480px;
      background-image: url(../assets/alley.jpg);
      background-repeat: no-repeat;
      background-size: cover;

  }

  #text{
      color: white;
      font-size: 50px;
  }


  /* Events */
  .event{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.856);
      height: 600px;
  }

  #eventhead{
      margin: 40px;
      color: white; 
      font-size: 50px;
     }

  #eventbody{
      margin: 50px;
  }

  #eventimg{
      height: 350px;
      width: 350px;
      border-radius: 100px;
  }