footer{
    position: relative;
    bottom: 0;
    left: 0px;
    width: 100%;
  
background-color: #2d3436;
background-image: linear-gradient(300deg, rgb(165, 165, 165), rgb(43, 42, 42)80%);

    background-size: cover;
 
  }

  .img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: contrast(300%);
    width: 40%;
}

.img .name h2{
    text-align: center;
    font-size:30px;
    color:whitesmoke;
}
.main-content{
  display: flex;
  color: rgb(255, 255, 255);
 
}
.main-content .box{
  flex-basis: 90%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.7rem;
  
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.box a{
  font-size: 1.3rem;
  font-weight: 600;

  text-decoration: none;
  color: rgb(255, 255, 255);
  
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
  
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #1a1a1a;
  top: -10px;
}



 
  .bottom center{ 
    padding: 5px;
    font-size: 0.9375rem;
    background: black;
  }
  .bottom center span{
    color: white;
  }
  .bottom center a{
    color: #43b7ff;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }

 .contact h3{
   font-weight: 800;
   font-size:1.3rem;
   color: black;
   word-break: break-word;
   
 }

 
