:root {
  --primary: #43b7ff;
  --dark: rgb(0, 0, 0,0.900);
}

body {
  background-color: var(--dark);
  color: whitesmoke;
  margin: 0px;
  padding: 0px;
  font-family: 'Saira Condensed', sans-serif;
}

/* navbar */

.navbar {
  justify-content: space-around;
  display: flex;
}

.options {
  margin: 2rem;
}

.options > div {
  padding: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.options > div > a {
  color: white;
  text-decoration: none;
}

.options > div > a:hover{
  color: var(--primary);
}

.options > div:hover {
  border-bottom: 3px solid var(--primary);
}

/* intro */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 5rem 0px 5rem;
  padding: 10vh;
}

.intro {
  margin: 10vh 0 20vh 0;
}

.intro > h1 {
    color: var(--primary);
    font-size: 5rem;
}

.reflection > img {
    width: 100%;
}

.part1{
  display: grid;
  margin: 0px 5rem 0px 5rem;
  padding: 10vh;
}

.part1 .ourcom h1{
  color: var(--primary);
  font-size:70px;
  border-bottom: 2px solid var(--primary);

}

.part1 .ourcom .webdt{
  display: grid;
  margin: 0px 5rem 0px 5rem;
  padding-left: 5vh;

}
.part1 .ourcom .appdt{
  display: grid;
  margin: 0px 5rem 0px 5rem;
  padding-right: 5vh;
}
.part1 .ourcom .designt{
  display: grid;
  margin: 0px 5rem 0px 5rem;
  padding-left: 5vh;
}

.part1 .ourcom .webdt h2{
  font-size:30px;
  border-left: 5px solid var(--primary);
  padding-left:20px;
  margin-bottom: 30px;
}

.part1 .ourcom .appdt h2{
 text-align: right;
  font-size:30px;
  border-right: 5px solid var(--primary);
  padding-right:20px;
}

.part1 .ourcom .designt h2{

   font-size:30px;
   border-left: 5px solid var(--primary);
   padding-left:20px;
 }
 


/* next section */

/* 
.button input[type="button"] {
    width: 12.5rem;
    height: 3.2rem;
    background: var(--dark);
    border: var(--primary) 2px solid;
    padding: 0px;
    color: var(--primary);
    -webkit-text-fill-color: var(--primary);
    position: absolute;
    top: 37.5rem;
    left: 12.5rem;
}
.section h2 {
    text-align: center;
    margin-top: 4rem;
    font-size: 2.5rem;
    display: block;
}
.section h2 span {
    color: var(--primary);
}
.section img {
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.section .dash {
    color: var(--primary);
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section h3 {
    text-align: center;
    justify-content: center;
    font-weight: lighter;
}
.section h3 span {
    color: var(--primary);
    font-size: 1.3rem;
} */


.image1{
  position: absolute;
    height: 9rem;
    width: 11rem;
    top: 39rem;
    right: 4rem;
    clip-path: circle(48%);
    transform: rotate(-146deg);
    overflow: hidden;
    
  
}
.image2{
  position: absolute;
  height: 31rem;
  width: 43rem;
  top: 9rem;
  right: -6rem;
  transform: rotate(90deg);
  clip-path: circle(34%);
  overflow: hidden;
}
.image3{
  position: absolute;
  height: 17rem;
  width: 23rem;
  top: 9rem;
  right: 25rem;
  clip-path: circle(27%);
  transform: rotate(12deg);
  overflow: hidden;
}
.image4{
  position: absolute;
    height: 18rem;
    width: 26rem;
    top: 26rem;
    right: 21rem;
    clip-path: ellipse(35% 50% at 38% 52%);
    overflow: hidden;
}
.image5{
  position: absolute;
  height: 8rem;
  width: 11rem;
  top: 43rem;
  right: 17rem;
  clip-path: circle(40%);
  overflow: hidden;
}

