:root {
  --primary: #43b7ff;
  --dark: rgb(0, 0, 0, 0.9);
  --another: #ff58d7;
  --textcolor: #c1c1c1;
}

body {
  font-family: "Saira Condensed";
  background-color: var(--dark);
  color: var(--textcolor);
  margin: 0rem;
  padding: 0rem;
  font-family: "Saira Condensed", sans-serif;
}

/* navbar */

.navbar {
  justify-content: space-around;
  display: flex;
  background-color: #3d3939;
  transition: 0.4s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


#logo {
  opacity: 0;
}
.options {
  text-align: right;
  margin: 0.3rem;
}

.options > div {
  padding: 1rem;
  display: inline-block;
  font-size: 1.5rem;
}

.options > div > a {
  color: white;
  text-decoration: none;
}

.options > div > a:hover {
  color: var(--another);
}

/* intro */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0rem 5rem 0rem 5rem;
  padding: 10vh;
}

.intro {
  margin: 10vh 0 20vh 0;
}

#NEOS {
  /* position: absolute; */
  left: 4.974rem;

  font-style: normal;
  font-weight: 500;
  font-size: 5.5rem;
  line-height: 5rem;
}

#NEOS_TAGLINE {
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.5rem;
}
.intro a {
  color: var(--textcolor);
  text-decoration: none;
}
.part1 {
  display: grid;
  margin: 0rem 5rem 0rem 5rem;
  padding: 10vh;
}

.part1 .ourcom h1 {
  color: var(--primary);
  font-size: 4.375rem;
  border-bottom: 0.125rem solid var(--primary);
}

.part1 .ourcom .webdt {
  display: grid;
  margin: 0rem 5rem 0rem 5rem;
  padding-left: 5vh;
}
.part1 .ourcom .appdt {
  display: grid;
  margin: 0rem 5rem 0rem 5rem;
  padding-right: 5vh;
}
.part1 .ourcom .designt {
  display: grid;
  margin: 0rem 5rem 0rem 5rem;
  padding-left: 5vh;
}

.part1 .ourcom .webdt h2 {
  font-size: 2.5rem;
  border-left: 0.313rem solid var(--primary);
  padding-left: 1.25rem;
  margin-bottom: 1.875rem;
}

.part1 .ourcom .appdt h2 {
  text-align: right;
  font-size: 2.5rem;
  border-right: 0.313rem solid var(--primary);
  padding-right: 1.25rem;
}

.part1 .ourcom .designt h2 {
  font-size: 2.5rem;
  border-left: 0.313rem solid var(--primary);
  padding-left: 1.25rem;
}
.imgtxt1 img{
  width: 30%;
  float: right;
  border-radius: 30px;
  margin-left: 40px;
  margin-bottom: 50px;
  box-shadow: 10px 10px var(--primary);
}
.imgtxt2 img{
  width:30%;
  border-radius: 30px;
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
  box-shadow: 10px 10px var(--primary);
}
.imgtxt3 img{
 width: 30%;
 float: right;
 border-radius: 30px;
 margin-left: 40px;
 margin-bottom: 50px;
 box-shadow: 10px 10px var(--primary);

}
.image1 {
  position: absolute;
  height: 9rem;
  width: 11rem;
  top: 39rem;
  right: 4rem;
  clip-path: circle(48%);
  transform: rotate(-146deg);
  overflow: hidden;
}
.image2 {
  position: absolute;
  height: 31rem;
  width: 43rem;
  top: 9rem;
  right: -6rem;
  transform: rotate(90deg);
  clip-path: circle(34%);
  overflow: hidden;
}
.image3 {
  position: absolute;
  height: 17rem;
  width: 23rem;
  top: 9rem;
  right: 25rem;
  clip-path: circle(27%);
  transform: rotate(12deg);
  overflow: hidden;
}
.image4 {
  position: absolute;
  height: 18rem;
  width: 26rem;
  top: 26rem;
  right: 21rem;
  clip-path: ellipse(35% 50% at 38% 52%);
  overflow: hidden;
}
.image5 {
  position: absolute;
  height: 8rem;
  width: 11rem;
  top: 43rem;
  right: 17rem;
  clip-path: circle(40%);
  overflow: hidden;
}