:root {
  --primary: #43b7ff;
  --dark: rgb(0, 0, 0,0.900);
}

body {
  background-color: var(--dark);
  color: whitesmoke;
  margin: 0px;
  padding: 0px;
  font-family: 'Saira Condensed', sans-serif;
}

/* navbar */

.navbar {
  display: flex;
  justify-content:space-between;
  margin: 1rem 3rem;
  background: linear-gradient( var(--primary), black, black, var(--primary));
  height: 4.3rem;
}

#logo{
  background: rgb(0, 0, 0);
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40rem;
    align-items: center;
}

.options > div {
  padding: 0rem 1rem;
  font-size: 1.5rem;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.options > div > a {
  color: white;
  text-decoration: none;
}

.options > div > a:hover{
  color: var(--primary);
}

.options > div:hover {
  border-left: 3px solid var(--primary);
  border-right: 3px solid var(--primary);
}

/* intro */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 5rem 0px 5rem;
  padding: 10vh;
}

.intro {
  margin: 10vh 0 20vh 0;
}

.intro > h1 {
    color: var(--primary);
    font-size: 5rem;
}

.reflection > img {
    width: 100%;
    clip-path: ellipse(50% 100% at 50% 100%);
    box-shadow: 10px 10px 100px var(--primary);
}

/* next section */

/* 
.button input[type="button"] {
    width: 12.5rem;
    height: 3.2rem;
    background: var(--dark);
    border: var(--primary) 2px solid;
    padding: 0px;
    color: var(--primary);
    -webkit-text-fill-color: var(--primary);
    position: absolute;
    top: 37.5rem;
    left: 12.5rem;
}
.section h2 {
    text-align: center;
    margin-top: 4rem;
    font-size: 2.5rem;
    display: block;
}
.section h2 span {
    color: var(--primary);
}
.section img {
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.section .dash {
    color: var(--primary);
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section h3 {
    text-align: center;
    justify-content: center;
    font-weight: lighter;
}
.section h3 span {
    color: var(--primary);
    font-size: 1.3rem;
} */