:root {
    --primary:#43b7ff;
    --dark:#000;
}

body {
    font-family: 'Lato', sans-serif;
    background-color:var(--dark);
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
    
}

.mainNav ul li {
    list-style-type: none;
    display:inline-block;
    padding: 1.4rem;
    text-align: right;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 3.4rem;
    
    
   
}
#logo {
    width:31.3rem;
    float: left;
    margin-top: 0px;
}
.mainNav ul{
    text-align: center;
    
    
}
.mainNav ul li a {
    text-decoration: none;
    color: whitesmoke;
    
}
.mainNav ul li a:hover{
    border-bottom: var(--primary) 3px solid;
    padding-bottom: 0.4rem;

}
.container h1 {
    font-family: 'Cinzel', serif;
font-family: 'Lato', sans-serif;
position: relative;
top: 12.5rem;
right :18.75rem;
color:var(--primary);
font-size: 4.4rem;
}
.container h2 {
    font-family: 'Cinzel', serif;
font-family: 'Lato', sans-serif;
position: relative;
top: 12.5rem;
left :12.5rem;
}

.container img{
    width:43.75rem;
    position: relative;
    left: 37.5rem;
}
.button input[type="button"]{
    width:12.5rem;
    height:3.2rem;
    background: var(--dark);
    border: var(--primary) 2px solid;
    
    padding:0px;
    
    color:var(--primary);
    /* -webkit-text-fill-color:var(--primary); */
    position: absolute;
    top:37.5rem;
    left:12.5rem;

}
.section h2{
    text-align: center;
    margin-top: 4rem;
    font-size: 2.5rem;
    display:block;
}
.section h2 span{
    color:var(--primary);

}
.section img{
    width:2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.section  .dash{
    color:var(--primary);
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.section  h3{
    
    text-align: center;
    justify-content: center;
    font-weight: lighter;
}
.section h3 span{

    color:var(--primary);
    font-size: 1.3rem;
  
}